PsychSourceGL/Projects/MacOSX/build/*
PsychSourceGL/Projects/Linux/build/*
PsychSourceGL/Projects/Windows/build/*
*.o
*~
.DS_Store
PsychSourceGL/Projects/MacOSX/PsychToolbox/PsychToolbox64.xcodeproj/.LSOverride
xcuserdata/
project.xcworkspace/
.FBCLockFolder
.FBCIndex
*.asv
*.ncb
*.swp
PsychSourceGL/Cohorts/Kinect-v16-withsource/
PsychSourceGL/Cohorts/libDC1394/libdc1394-2.0.1/
Psychtoolbox/PsychInitialize/startup.m
Psychtoolbox/ptbflavorinfo.txt
.fuse_*
liboctave.*
liboctinterp.*
Psychtoolbox/PsychTests/TimingtestResults/*
