PsychSourceGL/Projects/MacOSX/build/*
*.o
*~
.DS_Store
PsychSourceGL/Projects/MacOSX/PsychToolbox/PsychToolbox64.xcodeproj/.LSOverride
xcuserdata/
project.xcworkspace/
.FBCLockFolder
.FBCIndex
*.asv
*.ncb
*.swp
