<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PsychtoolboxKernelDriver</string>
	<key>CFBundleIdentifier</key>
	<string>PsychtoolboxKernelDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PsychtoolboxKernelDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>IOKitPersonalities</key>
	<dict>
			<key>PsychtoolboxKernelDriver</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>PsychtoolboxKernelDriver</string>
				<key>IOClass</key>
				<string>PsychtoolboxKernelDriver</string>
	#if DEBUG
				<key>IOKitDebug</key>
				<integer>65535</integer>
	#endif
				<key>IOPCIClassMatch</key>
				<string>0x03000000&amp;0xFFFFFF00</string>
				<key>IOPCIPrimaryMatch</key>
				<string>0x00001002&amp;0x0000FF0F</string>
				<key>IOMatchCategory</key>
				<string>PsychtoolboxKernelDriver</string>
				<key>IOProviderClass</key>
				<string>IOPCIDevice</string>
				<key>IOResourceMatch</key>
				<string>IOKit</string>
				<key>IOUserClientClass</key>
				<string>PsychtoolboxKernelDriverUserClient</string>
			</dict>
			<key>PsychtoolboxKernelDriverNVidia</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>PsychtoolboxKernelDriver</string>
				<key>IOClass</key>
				<string>PsychtoolboxKernelDriver</string>
	#if DEBUG
				<key>IOKitDebug</key>
				<integer>65535</integer>
	#endif
				<key>IOPCIClassMatch</key>
				<string>0x03000000&amp;0xFFFFFF00</string>
				<key>IOPCIPrimaryMatch</key>
				<string>0x000010de&amp;0x0000FFFF</string>
				<key>IOMatchCategory</key>
				<string>PsychtoolboxKernelDriver</string>
				<key>IOProviderClass</key>
				<string>IOPCIDevice</string>
				<key>IOResourceMatch</key>
				<string>IOKit</string>
				<key>IOUserClientClass</key>
				<string>PsychtoolboxKernelDriverUserClient</string>
			</dict>
			<key>PsychtoolboxKernelDriverIntel</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>PsychtoolboxKernelDriver</string>
				<key>IOClass</key>
				<string>PsychtoolboxKernelDriver</string>
	#if DEBUG
				<key>IOKitDebug</key>
				<integer>65535</integer>
	#endif
				<key>IOPCIClassMatch</key>
				<string>0x03000000&amp;0xFFFFFF00</string>
				<key>IOPCIPrimaryMatch</key>
				<string>0x00008086&amp;0x0000FFFF</string>
				<key>IOMatchCategory</key>
				<string>PsychtoolboxKernelDriver</string>
				<key>IOProviderClass</key>
				<string>IOPCIDevice</string>
				<key>IOResourceMatch</key>
				<string>IOKit</string>
				<key>IOUserClientClass</key>
				<string>PsychtoolboxKernelDriverUserClient</string>
			</dict>
	</dict>
	#ifdef __LP64__
        <key>OSBundleLibraries</key>
        <dict>
                <key>com.apple.kpi.iokit</key>
                <string>7.0</string>
                <key>com.apple.kpi.libkern</key>
                <string>8.0d0</string>
                <key>com.apple.iokit.IOPCIFamily</key>
                <string>1.0b1</string>
        </dict>
	#else
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kernel.iokit</key>
		<string>6.0</string>
		<key>com.apple.kernel.libkern</key>
		<string>6.0</string>
	</dict>
	#endif
</dict>
</plist>
